* {
  padding: 0;
  margin: 0 !important;
  color: var(--fuente);
  box-sizing: border-box;
  list-style: none !important;
}

body {
  background-color: #f5f5fa;
}

html {
  scroll-behavior: smooth;
}

:root {
  --ancho: 70%;
  --fuente: #d6d6ff;
  --fondo_claro: #caf0f8;
  --fondo_titulo_oscuro: #181876;
}

header {
  display: flex;
  justify-content: center;

}

nav {
  width: 100%;
  height: 13vh;
  z-index: 100;
  display: flex;
  padding: 0 15%;
  margin: 0 auto;
  position: fixed;
  font-size: 1.5rem;
  flex-direction: row;
  align-items: center;
  transition: opacity 0.5s ease;
  justify-content: space-between;
  background-color: var(--fondo_titulo_oscuro);
}
nav.hide {
  opacity: 0;
  pointer-events: none;
}
a {
  font-size: 1rem !important;
}

nav img {
  width: 80px;
  padding: 1rem;
  padding-left: 0;
}

nav label {
  font-weight: bold;
}

nav ul {
  display: flex;
}

nav ul li {
  padding-left: 1rem;
}

.hero {
  display: flex;
  height: 100vh;
  flex-direction: row;
  justify-content: center;
  background: var(--fondo_titulo_oscuro);

}

.hero-content {
  display: flex;
  color: #d6d6ff;
  align-items: start;
  width: var(--ancho);
  flex-direction: column;
  justify-content: center;
}

.hero-text {
  font-size: 1.5rem;
}

button {
  font-weight: bold;
  padding: 0.5rem 1rem;
}

.arriba {
  display: none;
  transition: opacity 0.5s ease;
  z-index: 1000;
}

.enlaces_importantes {
  background-color: #caf0f8;
}

@media screen and (max-width: 575px) {
  nav label {
    display: none;
  }

  nav ul {
    display: none;
  }

  .hero p {
    font-size: 1rem;
  }

  .hero-title {
    font-size: 2.8rem !important;
  }

  .arriba {
    right: 24px;
    bottom: 24px;
    display: block;
    position: fixed;
  }
}

.tarjeta {
  transition: ease-in-out 0.5s;
}

.tarjeta:hover {
  transform: scale(1.05);
  transition: ease-in-out 0.5s;
}

footer {
  width: 100%;
  height: 20vh;
  background-color: var(--fondo_titulo_oscuro);
}
